<div fxLayout="row">
  <md-card fxLayout="column" fxFlex>
    <form #mqForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <md-input-container fxFlex>
        <input required mdInput placeholder="Abbreviation" name="abbreviation" [(ngModel)]="formPost.abbreviation">
      </md-input-container>
      <md-input-container fxFlex>
        <input required mdInput placeholder="Full Name" name="name" [(ngModel)]="formPost.fullname">
      </md-input-container>
      <div><span fxFlex></span>
      <button [disabled]="!mqForm.form.valid" type="submit" md-button>Save
        </button></div>
    </form>
  </md-card>
</div>
<div fxLayout="row">
  <md-card fxLayout="column" fxFlex>
    <md-list>
      <md-list-item *ngFor="let post of PostStream | async | reverse">
        <b>{{ post.abbreviation}}</b>
        <span fxFlex></span>
        {{ post.fullname }}
        <button md-icon-button (click)="delete(post)">
          <md-icon>delete</md-icon>
          </button>
      </md-list-item>
    </md-list>
  </md-card>
</div>